<header class="header">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
      <span class="logo-text">MyThoughts</span>
    </div>
  
    <div class="icons">
      <div class="icon-container" title="Notifications">
        <i class="fa fa-bell-o"></i>
      </div>
      <div class="icon-container" title="Language">
        <i class="fa fa-language"></i>
      </div>
      <div class="icon-container user-container" title="Profile">
        <img 
          src="assets/user.png" 
          alt="User" 
          class="user-image"
        />
      </div>
    </div>
  </header>
  